*.csv
downloader/*
downloader/credentials.txt
!downloader/testidata.csv
!downloader/*.py
*checkpoint*
.ipynb_checkpoints/*
*.html
.vscode
tmp/*
scratch*
__pycache__
__pycache__/*
*.sh
*.log
reports/*.gz
!templates/*
reports/maps/*
scrollcolors.ipynb
rolling.ipynb
*.ipynb
