/*
LLY Tiira report
*/

/* .submittertable {
     width: 100%!important
}
*/

.submittertablecontainer {
    width: 42%;
    margin-right: 12px;
}

.mapcontainer {
    margin-left: 12px;
    width: 58%;
}

.map {
    width: 100%;
    height: 444px;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.report-footer {
    margin-right:auto;
    height: 200px;
    display: flex;
    flex-direction: column; /* or inline-flex */
    justify-content: flex-end;
  }

.container {
    display: flex; /* or inline-flex */
  }