<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link href="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
    {% for figure in data.figures %}
        {{ figure.script | safe }}
    {% endfor %}    
    <title>Tiira-raportti</title>
</head>
<body class="">	
    <div id="" class="">

        <a name="viikko"><h3>Viikon ajalta</h3></a>    
        {% for figure in data.figures[:2] %}
            <p>{{ figure.div | safe }}</p>
        {% endfor %}
            <h5>{{ data.tables[0].title }}</h5>
            <p>{{ data.tables[0].table}}</p>
        
        <a name="30pv"><h3>30 päivän ajalta</h3></a>      
        {% for figure in data.figures[2:] %}
            <p>
                {{ figure.div | safe }}
            </p>
        {% endfor %}
        <h5>{{ data.tables[1].title }}</h5>
        <p>
            {{ data.tables[1].table}}
        </p>
        <p>
            Päivitetty {{ data.updated }}
        </p>
        </div>
    </div>
</body>
</html>
