<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="../static/css/style_0.css" type="text/css"/>
    <link rel="stylesheet" href="../static/css/style_1.css" type="text/css"/>
    <link rel="stylesheet" href="../static/css/style_2.css" type="text/css"/>

    <link href="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
    {% for figure in data.figures %}
        {{ figure.script | safe }}
    {% endfor %}    
    <title>Tiira-raportti</title>
</head>
<body class="home page-template-default page page-parent custom-background ecwd-theme-parent-iconic-one ecwd-theme-child-iconic-one-child custom-font-enabled customize-support">	
    <div id="content" class="entry-content">

        <a name="viikko"><h3>Viikon ajalta</h3></a>    
        {% for figure in data.figures[:2] %}
            <p>{{ figure.div | safe }}</p>
        {% endfor %}

        <div class="container">
    
                <div class="submittertablecontainer">
                    <h5>
                        {{ data.tables[0].title }}
                    </h5>
                    {{ data.tables[0].table}}
                </div>
        
                <div class="mapcontainer"> 
                    <h5>
                        Havaintojen sijoittuminen 7 päivän aikana
                    </h5>
                <div class="map"><img src="../reports/maps/lly_7_days.png"></div>   
                
                </div>
    
        </div>    
    
        <a name="30pv"><h3>30 päivän ajalta</h3></a>      
        {% for figure in data.figures[2:] %}
            <p>
                {{ figure.div | safe }}
            </p>
        {% endfor %} 
      
        <div class="container">
    
            <div class="submittertablecontainer">
                <h5>
                    {{ data.tables[1].title }}
                </h5>
                {{ data.tables[1].table}}
            </div>
    
            <div class="mapcontainer">
                <h5>
                    Havaintojen sijoittuminen 30 päivän aikana
                </h5>
                <div class="map"><img src="../reports/maps/lly_30_days.png"></div>          
            </div>          
            
        </div> 
        <div class="report-footer">
                
                <p>
                    Päivitetty {{ data.updated }} <br/>
                    Kaaviot ja kartat © Lapin lintutieteellinen yhdistys ry
                </p>        
                <p>
                    <small>pohjakartan tiedot Maanmittauslaitos 2018, European Environment Agency</small>
                </p> 
                
        </div>
    </div>
</body>
</html>